<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    .button-group button {
        background-color: #4CAF50;
        border: 1px solid green;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        float: left;
    }
    .button-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .button-group button:not(:last-child) {
        border-right: none;
    }

    .button-group button:hover {
        background-color: #3e8e41;
    }
</style>

<body>
<h2>Create new User</h2>
<div>
    <form th:method="post" th:action="@{saveUser}" th:object="${user}">
        <fieldset>
            <legend>User data</legend>
            <p>
                <label th:for="name">Name
                    <input type="text" name="name">
                </label>
            </p>
            <p>
                <label th:for="surname">Surname
                    <input type="text" name="surname">
                </label>
            </p>
            <p>
                <label th:for="profession">Profession
                    <input type="text" name="profession">
                </label>
            </p>
            <p>
                <label th:for="age">Age
                    <input type="text" name="age">
                </label>
            </p>
        </fieldset>
        <button type="submit">Save user</button>
    </form>
</div>
<br>
<br>
<div class="button-group">
    <form action="/">
        <button>Home</button>
    </form>
    <form action="allUsers">
        <button>User List</button>
    </form>
</div>
</body>
</html>